# Function service
FUNCTION_SERVICE_ENV=development
FUNCTION_SERVICE_HTTP_ADDR=:8080

# MongoDB
FUNCTION_SERVICE_MONGODB_URI=mongodb://localhost:27017
FUNCTION_SERVICE_MONGODB_DATABASE=workspace_permission_management

# NATS JetStream
FUNCTION_SERVICE_NATS_URL=nats://localhost:4222
FUNCTION_SERVICE_JETSTREAM_STREAM=FUNCTION_RESOURCES
FUNCTION_SERVICE_JETSTREAM_DURABLE=function-service-resource-upserter
FUNCTION_SERVICE_JETSTREAM_SUBJECT=app.todo.resource.upserted
FUNCTION_SERVICE_JETSTREAM_FETCH_COUNT=20
FUNCTION_SERVICE_JETSTREAM_MAX_WAIT=5s

# Shutdown
FUNCTION_SERVICE_SHUTDOWN_TIMEOUT=10s
